/Lab6_S2/Domain/obj
/Lab6_S2/Domain/bin
/Lab6_S2/Interfaces/bin
/Lab6_S2/Interfaces/obj
/Lab6_S2/UnitTest1/bin
/Lab6_S2/UnitTest1/obj
/Lab6_S2/.vs
/Lab6_S2/Data/bin
/Lab6_S2/Data/obj
/Lab6_S2/WpfApplication/obj
/Lab6_S2/WpfApplication/bin

